# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-shm
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-wal
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.opendb
Print_Permutation/.vs/Print_Permutation/v16/ipch/AutoPCH/bb029322412e0ad0/PRINT_PERMUTATION.ipch
Print_Permutation/Print_Permutation/Debug/Print_Permutation.Build.CppClean.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/.suo
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/Browse.VC.db
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/269344ce9572a000/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/2d07015f45896696/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/EnCode_Decode_Ptr.sln
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
