# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-shm
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-wal
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.opendb
Print_Permutation/.vs/Print_Permutation/v16/ipch/AutoPCH/bb029322412e0ad0/PRINT_PERMUTATION.ipch
Print_Permutation/Print_Permutation/Debug/Print_Permutation.Build.CppClean.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/.suo
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/Browse.VC.db
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/269344ce9572a000/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/2d07015f45896696/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/EnCode_Decode_Ptr.sln
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/.suo
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/Browse.VC.db
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/ipch/AutoPCH/5472a460411d8b90/SLICE_FROM_STLCONTAINER.ipch
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/ipch/AutoPCH/7d3c32b0caa7d74a/SLICE_FROM_STLCONTAINER.ipch
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj.filters
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj.user
Slice_From_STLContainer/Slice_From_STLContainer.sln
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.log
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/.suo
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/Browse.VC.db
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/ipch/AutoPCH/89a923285a03c77e/SORT_SUFFLE_IN_PART.ipch
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/ipch/AutoPCH/8baf03605dd320a4/SORT_SUFFLE_IN_PART.ipch
Sort_Suffle_In_Part/Debug/Sort_In_Part.ilk
Sort_Suffle_In_Part/Debug/Sort_In_Part.pdb
Sort_Suffle_In_Part/Sort_Suffle_In_Part.sln
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.Build.CppClean.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.command.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.read.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.write.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.command.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.read.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.write.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/Sort_In_Part.lastbuildstate
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.vcxproj.FileListAbsolute.txt
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.Build.CppClean.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.vcxproj.FileListAbsolute.txt
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj.filters
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj.user
