# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-shm
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.db-wal
Print_Permutation/.vs/Print_Permutation/v16/Browse.VC.opendb
Print_Permutation/.vs/Print_Permutation/v16/ipch/AutoPCH/bb029322412e0ad0/PRINT_PERMUTATION.ipch
Print_Permutation/Print_Permutation/Debug/Print_Permutation.Build.CppClean.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.log
Print_Permutation/Print_Permutation/Debug/Print_Permutation.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/.suo
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/Browse.VC.db
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/269344ce9572a000/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/2d07015f45896696/ENCODE_DECODE_PTR.ipch
EnCode_Decode_Ptr/EnCode_Decode_Ptr.sln
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Debug/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.Build.CppClean.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.log
EnCode_Decode_Ptr/EnCode_Decode_Ptr/Release/EnCode_Decode_Ptr.vcxproj.FileListAbsolute.txt
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.filters
EnCode_Decode_Ptr/EnCode_Decode_Ptr.vcxproj.user
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/.suo
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/Browse.VC.db
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/ipch/AutoPCH/5472a460411d8b90/SLICE_FROM_STLCONTAINER.ipch
Slice_From_STLContainer/.vs/Slice_From_STLContainer/v16/ipch/AutoPCH/7d3c32b0caa7d74a/SLICE_FROM_STLCONTAINER.ipch
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj.filters
Slice_From_STLContainer/Slice_From_STLContainer/Slice_From_STLContainer.vcxproj.user
Slice_From_STLContainer/Slice_From_STLContainer.sln
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.log
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/.suo
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/Browse.VC.db
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/ipch/AutoPCH/89a923285a03c77e/SORT_SUFFLE_IN_PART.ipch
Sort_Suffle_In_Part/.vs/Sort_Suffle_In_Part/v16/ipch/AutoPCH/8baf03605dd320a4/SORT_SUFFLE_IN_PART.ipch
Sort_Suffle_In_Part/Debug/Sort_In_Part.ilk
Sort_Suffle_In_Part/Debug/Sort_In_Part.pdb
Sort_Suffle_In_Part/Sort_Suffle_In_Part.sln
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.Build.CppClean.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.command.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.read.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/CL.write.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.command.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.read.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/link.write.1.tlog
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.tlog/Sort_In_Part.lastbuildstate
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_In_Part.vcxproj.FileListAbsolute.txt
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.Build.CppClean.log
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Debug/Sort_Suffle_In_Part.vcxproj.FileListAbsolute.txt
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj.filters
Sort_Suffle_In_Part/Sort_Suffle_In_Part/Sort_Suffle_In_Part.vcxproj.user
Find_common_Elmnts/.vs/Find_common_Elmnts/v16/.suo
Find_common_Elmnts/.vs/Find_common_Elmnts/v16/Browse.VC.db
Find_common_Elmnts/.vs/Find_common_Elmnts/v16/ipch/AutoPCH/b119c71e73f25a14/FIND_COMMON_ELMNTS.ipch
Find_common_Elmnts/Find_common_Elmnts.sln
Find_common_Elmnts/Find_common_Elmnts/Debug/Find_common_Elmnts.Build.CppClean.log
Find_common_Elmnts/Find_common_Elmnts/Debug/Find_common_Elmnts.log
Find_common_Elmnts/Find_common_Elmnts/Debug/Find_common_Elmnts.vcxproj.FileListAbsolute.txt
Find_common_Elmnts/Find_common_Elmnts/Find_common_Elmnts.vcxproj
Find_common_Elmnts/Find_common_Elmnts/Find_common_Elmnts.vcxproj.filters
Find_common_Elmnts/Find_common_Elmnts/Find_common_Elmnts.vcxproj.user
decltype_auto/.vs/decltype_auto/v16/.suo
decltype_auto/.vs/decltype_auto/v16/Browse.VC.db
decltype_auto/.vs/decltype_auto/v16/ipch/AutoPCH/9138d39db2938f14/DECLTYPE_AUTO.ipch
decltype_auto/decltype_auto.sln
decltype_auto/decltype_auto/decltype_auto.vcxproj
decltype_auto/decltype_auto/decltype_auto.vcxproj.filters
decltype_auto/decltype_auto/decltype_auto.vcxproj.user
JaggedArray_Template/.vs/JaggedArray_Template/v16/.suo
JaggedArray_Template/.vs/JaggedArray_Template/v16/Browse.VC.db
JaggedArray_Template/.vs/JaggedArray_Template/v16/ipch/AutoPCH/b98c12403ae6833a/JAGGEDARRAY_TEMPLATE.ipch
JaggedArray_Template/JaggedArray_Template.sln
JaggedArray_Template/JaggedArray_Template/JaggedArray_Template.vcxproj
JaggedArray_Template/JaggedArray_Template/JaggedArray_Template.vcxproj.filters
JaggedArray_Template/JaggedArray_Template/JaggedArray_Template.vcxproj.user
BST_Impl/.vs/BST_Impl/v16/.suo
BST_Impl/.vs/BST_Impl/v16/Browse.VC.db
BST_Impl/.vs/BST_Impl/v16/Browse.VC.db-shm
BST_Impl/.vs/BST_Impl/v16/Browse.VC.db-wal
BST_Impl/.vs/BST_Impl/v16/Browse.VC.opendb
BST_Impl/.vs/BST_Impl/v16/ipch/AutoPCH/1e3b07362001d932/BST_IMPL.ipch
BST_Impl/.vs/BST_Impl/v16/ipch/AutoPCH/a6a5cc027d57dec8/BST_IMPL.ipch
BST_Impl/BST_Impl.sln
BST_Impl/BST_Impl.vcxproj
BST_Impl/BST_Impl.vcxproj.filters
BST_Impl/BST_Impl.vcxproj.user
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.read.1.tlog
*.log
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.exe.recipe
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.command.1.tlog
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.write.1.tlog
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.command.1.tlog
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.read.1.tlog
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.write.1.tlog
Practice/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/STL_Queue_Usage.lastbuildstate
Practice/STL_Queue_Usage/Debug/vc142.idb
Practice/STL_Queue_Usage/Debug/vc142.pdb
Practice/STL_Queue_Usage/STL_Queue_Usage.vcxproj
Practice/STL_Queue_Usage/STL_Queue_Usage.vcxproj.filters
Practice/STL_Queue_Usage/STL_Queue_Usage.vcxproj.user
Queue/STL_Queue_Usage/STL_Queue_Usage.vcxproj.user
Queue/STL_Queue_Usage/STL_Queue_Usage.vcxproj.filters
Queue/STL_Queue_Usage/STL_Queue_Usage.vcxproj
Queue/STL_Queue_Usage/Debug/vc142.pdb
Queue/STL_Queue_Usage/Debug/vc142.idb
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/STL_Queue_Usage.lastbuildstate
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.write.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.read.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/link.command.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.write.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.read.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.tlog/CL.command.1.tlog
Queue/STL_Queue_Usage/Debug/STL_Queue_Usage.exe.recipe
Queue/Queue_Implementation/Queue_Implementation.vcxproj.user
Queue/Queue_Implementation/Queue_Implementation.vcxproj.filters
Queue/Queue_Implementation/Queue_Implementation.vcxproj
Queue/Queue_Implementation/Queue_Implementation.sln
Queue/Queue_Implementation/Debug/vc142.pdb
Queue/Queue_Implementation/Debug/vc142.idb
Queue/Queue_Implementation/Debug/STL_Queue_Usage.pdb
Queue/Queue_Implementation/Debug/STL_Queue_Usage.ilk
Queue/Queue_Implementation/Debug/Queue_Implementation.vcxproj.FileListAbsolute.txt
Queue/Queue_Implementation/Debug/Queue_Implementation.pdb
Queue/Queue_Implementation/Debug/Queue_Implementation.ilk
Queue/Queue_Implementation/Debug/Queue_Implementation.exe.recipe
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/Queue_Implementation.lastbuildstate
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/link.write.1.tlog
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/link.read.1.tlog
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/link.command.1.tlog
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/CL.write.1.tlog
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/CL.read.1.tlog
Queue/Queue_Implementation/Debug/Queue_Im.837a5a54.tlog/CL.command.1.tlog
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/Solution.VC.db
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/ipch/AutoPCH/e02974b1ec7ce394/STL_QUEUE_USAGE.ipch
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/ipch/AutoPCH/a037eee7cfb17265/QUEUEIMPLCLASS.ipch
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/ipch/AutoPCH/88b54fe2390f0c14/QUEUE_IMPLEMENTATION.ipch
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/ipch/AutoPCH/51c0a2ef0374063c/STL_QUEUE_USAGE.ipch
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/Browse.VC.db
Queue/Queue_Implementation/.vs/Queue_Implementation/v16/.suo
Encode_Decode/.vs/EnCode_Decode_Ptr/v16/.suo
Encode_Decode/.vs/EnCode_Decode_Ptr/v16/Browse.VC.db
Encode_Decode/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/269344ce9572a000/ENCODE_DECODE_PTR.ipch
Encode_Decode/.vs/EnCode_Decode_Ptr/v16/ipch/AutoPCH/2d07015f45896696/ENCODE_DECODE_PTR.ipch
Encode_Decode/EnCode_Decode_Ptr.sln
Encode_Decode/EnCode_Decode_Ptr.vcxproj
Encode_Decode/EnCode_Decode_Ptr.vcxproj.filters
Encode_Decode/EnCode_Decode_Ptr.vcxproj.user
